
.info, .info2, .legend, .legend2 {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4, .info2 h4 {
    margin: 0 0 5px;
    color: #777;
}
.legend, .legend2 {
    line-height: 14px;
    color: #555;
    font-size: .85em;
}
.legend i, .legend2 i {
    width: 13px;
    height: 13px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
#MapFullClick{
	color:#0066FF;
	font-size: .81em;
	cursor: pointer;
	float: left;
	width:100px;
	position: absolute;
	top: 10px;
	margin-left: 190px;
}
#MapClick{
	z-index: 2000;
	width:50px;
	float: left;
	background: #CCC;
	cursor: pointer;
}

#mapdiv{
    height: 630px; width:100%; margin:0 auto; overflow:hidden;clear: both;
}
#dashboardA {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 auto;  
  position: absolute;
  width: 985px;
  color:#fff;
  z-index: 100;
  bottom: 15;
  
  /*
  margin-left:500px;
  float:left;
  margin-top: 317px;
  top: 465px;
  clear: both;
  left: 25%; */
}

text {
  font: 10px sans-serif;
  color:#fff;
}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

form {
  position: absolute;
  left: 10px;
  top: 6px;
}

#dashboardB {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 985px;
  background:#000;
  color:#ccc;
}

button {
  position: absolute;
  right: 10px;
  top: 10px;
}
.title{
    color:#555555;
    width:180pt; float:right; padding:5px; margin:5px 5px 5px 5px;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    font-size:11px;
}
.controls{
    color:#555555;
    width:100pt; height: 15px; float:left; 
    padding:5px; margin:5px 0px 0px 10px;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    font-size:11px;
}

/* Bar Chart */
.chart rect {
  fill: #800026;
  cursor: pointer;
}

#barchartPopup, #forceClusterPopup{
  background-color:#3d3d3d;
  width:160px;
  position: absolute;
  font-size: 10pt;
  margin: 0px;
  color:#fff;

  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  z-index: 99999;
}
.bar:hover, .bar2:hover{
  fill:#3d3d3d;
}
.actionButtons{
  float: left;
  padding:3px;
  margin: 0px 0px 0px 7px;
}
.switchButton{
  width: 120px;
  cursor: pointer;
  padding:4px; 
  background: #ccc; color:#000;
  background: -webkit-linear-gradient(bottom, #ccc, #fff);
  background: -moz-linear-gradient(bottom, #ccc, #fff);
}
.activeButton{
  background: #3d3d3d; color:#fff;
  background: -webkit-linear-gradient(bottom, #3d3d3d, #ccc); color:#fff;
  background: -moz-linear-gradient(bottom, #3d3d3d, #ccc); color:#fff;
}
.switchButton:hover{ 
  color:#000;
  background: -webkit-linear-gradient(bottom, #3d3d3d, #ccc); color:#fff;
  background: -moz-linear-gradient(bottom, #3d3d3d, #ccc); color:#fff;
}
#mainWrapperTop, #mainWrapperBottom{
  clear: both;
  width: 1200px;
  margin:0 auto;
  /*border: solid 1px #ccc;*/
}

#switchButtonWrapperRight{
  clear: both;
  margin-left: 30px;  
  width: 120px;
  float: left;
  margin-top: -220px;
}
.chart{
  width:990px;
  overflow: hidden;
  height: 115px;
  clear: both;
}
#sort{
  width: 35px;
  margin-right: 5px;
}
#reset{
  width: 30px;
}
#sort, #reset{      
  float:left;
  cursor: pointer;
  padding: 4px;
  color:#3d3d3d;

  background-color:#fff;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
#sort:hover, #reset:hover{background-color:#3d3d3d; color:#ccc;}

.ui-dialog{
  z-index: 9999; 
}
.ui-button{
  margin-top: 1px !important;
}
#slider_content{
  background: #fff;
  float:right;
  margin-left: 5px;
  position: relative;
  z-index: 100;
  border-radius: 5px;
  padding:3px;
  cursor: auto;
}   
#slider-range{
  background: #fff;
  float:left;
  margin-top:10px;
  margin-left: 10px;
  position: relative;
  z-index: 100;
  clear: both;
  cursor: pointer;
  cursor: auto;
  width:965px;
}
#amount{width: 145px;}
.ui-slider-handle a{cursor: pointer !important;}

.mapNav{
  width:230px;
  float:right;
  margin-right: 150px;
}

#mapNavButtons li{
  display:inline;
  font-size: 1.4em;
}
#mapNavButtons{
  list-style-type:none;
  margin:auto 0 3px;
  padding:0;    
}
.geoRegionBox{
  width:180px;
  float:right;
  clear:both; 
  margin: -65px 5px 0px 0px;
    position: relative;
    z-index: 100;
    cursor: auto;
}