<div class="">
	<h2>This is the publications page. </h2>
	<p>The scope value is {{name}}</p>

	<form>
		<p>First Name: <input ng-model="fname" type="text" /> <br />
			Hello {{fname}}
		</p>
		<p>Last Name: <input ng-model="lname" type="text" /> <br />
			Mr/Miss/Dr. {{lname}}
		</p>
		<p>Phone: <input ng-model="phone" type="text" /> <br />
			Phone: {{phone}}
		</p>
		<button id="submit" >Submit</button>
	</form>

	<p>Formal Papers:
	    <ul>   
	        <li><a href="doc/compSci/An_Improved_Data_Formatting_WebBased_Image_Processing.pdf" target="new">An Improved Data Formatting Approach for Web&ndash;Based Image Processing</a> [05-2014] | <a href="https://github.com/concolato/data_processing/tree/master/imageXMLtoCVSTestPY" target="new">sourceCode</a> <span style="color:red">NEW!</span></li>
	    </ul>
 	</p>

	<p>Below are Informal Computer Science Papers:
      <ul>                            
        <li><a href="doc/compSci/svgWebTool2DGraphics.pdf" target="new">A Scalable Vector Graphics (SVGs) Web-Based Tool For Visual Analytics Using 2D Graphics</a> [12-2013] | <a href="agoge/index.html" target="new">Demo</a></li>
        <li><a href="doc/compSci/Network_Security_and_Software_Systemic_Vulnerabilities.pdf" target="new">A Survey of Network Security and Software Systemic Vulnerabilities</a> [12-2013]</li>
        <li><a href="doc/compSci/A_Study_of_Nested_Pattern_Matching_Algorithms.pdf" target="new">A Study of Nested Pattern Matching Algorithms</a> [12-2012] | <a href="https://github.com/concolato/data_processing/tree/master/DNA_StringSearchTestJava" target="new">sourceCode</a></li>
      </ul>
    </p>
    <p>Informal International Relations and Policy Papers:
      <ul>
        <li><a href="doc/IR/Cyber_Threats.pdf" target="new">How Protected is the U.S. Against Cyber Threats?</a> [12-2012] <span style="color:red">NEW!</span></li>
        <li><a href="doc/IR/Mexico_Response_to_Migration.pdf" target="new">Mexico’s Response to Migration</a> [05-2012] <span style="color:red">NEW!</span></li> 
        <li><a href="doc/IR/Examples_of_Democracy_in_Latin_America.pdf" target="new">Examining Democracy in Latin America Through Example</a> [12-2011]</li>
        <li><a href="doc/IR/Peronism_Unchanged.pdf" target="new">Peronism Unchanged:  A Comparison of the Politics of Perón and Menem</a> [12-2010]</li> 
      </ul>
    </p>
</div>